<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275411121861-qnk2ioni78bppiaob5t3l249iadllt1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275411121861-qnk2ioni78bppiaob5t3l249iadllt1g</string>
	<key>API_KEY</key>
	<string>AIzaSyD8PAl5QrnoKZ5yPuWpENWyiGg-yNaLD9o</string>
	<key>GCM_SENDER_ID</key>
	<string>275411121861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mysite</string>
	<key>PROJECT_ID</key>
	<string>benny-lai</string>
	<key>STORAGE_BUCKET</key>
	<string>benny-lai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275411121861:ios:1f08b345ac3b2f85c7a2ac</string>
	<key>DATABASE_URL</key>
	<string>https://benny-lai.firebaseio.com</string>
</dict>
</plist>